<div class="mb-4">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
</div>

<h2>Pizzas:</h2>

<ul class="list-group">
  <% @restaurant.pizzas.each do |pizza| %>
    <li class="list-group-item">
      <h3><%= pizza.name %></h3>
      <p><%= pizza.ingredients %></p>
    </li>
  <% end %>
</ul>
